.container {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 100;
}

.link {
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;;
}

.link:hover {
  color: #54baff;
  transform: translateY(-2px);
}

.logoutLink {
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;;
}

.logoutLink:hover {
  color: #ff5454;
  transform: translateY(-2px);
}

.burger {
  width: 20px;
  height: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--textColor);
}

.responsiveMenu {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: var(--bg);
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 50px;
}

.burgerLink, .burgerLogoutLink {
  cursor: pointer;
}

.burgerLogoutLink {
  color: #ff5454;
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
  }

  .link, .logoutLink {
    display: none;
  }
}