.skeletonContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 120px;
    background: #f3f3f3;
    padding: 20px;
    margin: 0px;
    border-radius: 8px;
  }
  
  .skeletonImage {
    width: 16%;
    height: 100%;
    background: #ddd;
    border-radius: 10px;
    animation: pulse 1.5s infinite;
  }  
  
  /* Pulse animation for skeleton effect */
  @keyframes pulse {
    0% {
      background-color: #eee;
    }
    50% {
      background-color: #ddd;
    }
    100% {
      background-color: #eee;
    }
  }
  