.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.wrapper {
    background-color: var(--softBg);
    padding: 60px 100px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
}

.title {
    font-size: 50px;
    font-weight: 400;
}
  
.socialButton {
    padding: 20px 50px;
    border-radius: 7px;
    background-color: #fff;
    border: none;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.socialButton:hover {
    color: #008cff;
    transform: translateY(-10px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}
  
.googleLogo {
    margin-right: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 50px 100px;
    }
}
  
@media screen and (max-width: 640px) {
    .wrapper {
        padding: 30px;
    }

    .title {
        font-size: 36px;
        font-weight: 400;
    }
  
    .socialButton{
        padding: 20px 30px;
        font-size: 14px;
    }
}