.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.logo {
  display: flex;
  gap: 20px;
  flex: 1;
  cursor: pointer;
}

.title {
  font-family: Lobster;
  text-align: center;
  font-size: 40px;
  flex: 1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 17px;
  font-weight: 500;
  flex: 1;
}

.link {
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;;
}

.link:hover {
  color: #54baff;
  transform: translateY(-2px);
}

@media screen and (max-width: 1280px) {
  .logo {
    display: none;
  }

  .title {
    font-size: 34px;
    text-align: left;
  }

  .links {
    font-size: 16px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 27px;
  }
  .link {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
}
