.container {
  margin-top: 70px;
}

.title {
  margin: 50px 0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
}

.category {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}

.category.frontend {
  background-color: #57c4ff31;
}

.category.backend {
  background-color: #da85c731;
}

.category.fullstack {
  background-color: #7fb88133;
}

.category.ai {
  background-color: #ff795736;
}

.category.devops {
  background-color: #ffb04f45;
}

.category.seo {
  background-color: #5e4fff31;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}

@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}