.container {
  margin-top: 70px;
}

.title {
  margin: 50px 0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
}

.category {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.category:hover {
  transform: translateY(-10px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.category.Frontend {
  background-color: #57c4ff31;
}

.category.Backend {
  background-color: #da85c731;
}

.category.FullStack {
  background-color: #7fb88133;
}

.category.AI {
  background-color: #ff795736;
}

.category.DevOps {
  background-color: #ffb04f45;
}

.category.SEO {
  background-color: #5e4fff31;
}

.categoryText {
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}

@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}